.container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(19, auto);
  grid-template-areas:
    "n n n n n n n n n n n n"
    "h h h h h h h h h h h h"
    "h h h h h h h h h h h h"
    "h h h h h h h h h h h h"
    "h h h h h h h h h h h h"
    "a a a a a a a a a a a a"
    "a a a a a a a a a a a a"
    "a a a a a a a a a a a a"
    "s s s s s s s s s s s s"
    "s s s s s s s s s s s s"
    "s s s s s s s s s s s s"
    "p p p p p p p p p p p p"
    "p p p p p p p p p p p p"
    "p p p p p p p p p p p p"
    "b b b b b b b b b b b b"
    "b b b b b b b b b b b b"
    "b b b b b b b b b b b b"
    "c c c c c c c c c c c c"
    "f f f f f f f f f f f f";
}

body,
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #f4f0ec;
  margin: 0;
}

h1 {
  text-align: center;
  background-color: black;
  color: white;
  border: 7px double #5959ab;
  margin-top: 1px;
}

p {
  text-align: center;
}

#main-heading {
  font-size: 70px;
  color: white;
}

.mini-headings {
  font-size: 18px;
  text-align: center;
}

.header {
  text-align: center;
  grid-area: h;
  margin: 0px;
  background-image: url(new.png);
  background-size: cover;
}

.job-title {
  margin-top: 0px;
  color: white;
  margin-bottom: 30px;
  font-size: 25px;
}

.navigation-links {
  float: auto;
  grid-area: n;
  overflow: hidden;
  background-color: black;
  position: sticky;
  top: 0;
  width: 100%;
  text-align: center;
  padding: 3px 0px 3px 0px;
  margin-block-end: 0px;
  z-index: 1;
}

.navigation-links a {
  text-align: center;
  padding: 0px 5px 0px 5px;
  color: white;
  text-decoration: none;
  font-size: 13px;
  border: 2px solid white;
}

.navigation-links a:hover {
  background-color: white;
  color: black;
}

.section-text {
  padding-left: 45px;
  padding-right: 45px;
}

#all-images {
  object-fit: cover;
  margin: 0px 20px 0px 20px;
  width: 100px;
  height: 100px;
}

.flipped-images {
  transform: scaleX(-1);
  float: right;
}

#jody-image {
  margin: 0px 0px 0px 0px;
  object-position: center;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px black solid;
}

.about-me {
  grid-area: a;
  margin-top: 0px;
}

.skills {
  grid-area: s;
}
.projects {
  grid-area: p;
}

.hobbies {
  grid-area: b;
}

.contacts {
  grid-area: c;
}

.info-footer {
  grid-area: f;
  background-color: #d3d3d3;
  color: #696969;
}

.footer-text {
  font-size: 12px;
  padding: 10px 0px 10px 0px;
}
